.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  border-top: 5px solid #000;
  border-bottom: 5px solid #000;
  background-color: #fff;
}

.lottie-animation {
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.image {
  width: 100%;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
}

.link-block {
  max-width: 150px;
}

@media screen and (max-width: 479px) {
  .image {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
}